.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem; 
    transition: .3s;

    &:hover{
        box-shadow: 0px 10px 36px rgba(0,0,0,.15);
    }
}
