/*----------*----------*----------*----------*---------- Utility Classes */

/*----------*----------*----------* Section Padding */
.section__padding {
  padding: var(--padding-d-l-v) var(--padding-d-l-h);
}

/*----------*----------*----------* Section Title */
.section__title {
  font-size: var(--font-size-d-sc);
  font-weight: 900;
}

/*----------*----------*----------* Section Para */
.section__para {
  font-size: var(--font-size-st-sc);
  color: var(--color-quaternary);
}

/*----------*----------*----------*----------*---------- Overall Layout */

.container {
  display: grid;
  grid-template-columns:
    [container-start] 1fr [center-start] repeat(
      10,
      [col-start] minmax(min-content, 11rem) [col-end]
    )
    [center-end] 1fr [container-end];

  grid-template-rows: repeat(9, min-content);
  justify-content: center;
}

.overall-layout {
  grid-column: container-start / container-end;
}
