.header {
  background-color: var(--color-secondary);
  padding: var(--padding-d-m-v) var(--padding-d-l-h);
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -49.5rem;
    left: 0;
    height: 50rem;
    width: 100%;
    background-color: var(--color-secondary);
    clip-path: ellipse(100% 55% at 48% 44%);
    z-index: -1;
  }

  &__logo {
    font-size: var(--font-size-st-m);
    color: var(--color-primary);
  }

  &__nav {
    display: flex;
    gap: 3rem;
  }

  &__nav--link {
    font-size: var(--font-size-st-sc);
    color: var(--color-quaternary);
    transition: all 0.2s ease-in-out;
  }

  &__nav--link:first-child {
    color: var(--color-primary);
  }

  &__nav--link:hover {
    color: var(--color-primary);
  }
}
